<% @clients.each do |client| %>

<div class="inner-wrapper">
<h3><a href="/clients/<%= client.id %>"><%= client.first_name%>
      <%= client.last_name%></a></h3>
<p>Design Description: <%= client.description%><br>
Location: <%= client.location%><br>
Artist: <%= client.user.name %><br><br>
</div>
        
<% end %>
