<!DOCTYPE html>

<% @clients.each do |client| %>

<h3><%= client.first_name%>
      <%= client.last_name%></h3>
<p>Design Description: <%= client.description%><br>
Location: <%= client.location%><br>
Price: $<%= client.price%><br>
Appointment Date: <%= client.appt_date%></p>
        
<% end %>
